# Telegram
TELEGRAM_BOT_TOKEN=your_bot_token_here

# Postgres connection
POSTGRES_HOST=drakkar-postgres
POSTGRES_PORT=5432
POSTGRES_DB=drakkar
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Redis
REDIS_HOST=drakkar-redis
REDIS_PORT=6379

# Domains
WEBAPP_BASE_URL=https://app.drakkarvpn.com
USER_API_URL=http://drakkar-user-api:8080